@model Article
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <form method="post">
        <label>Başlık</label>
        <input type="text" asp-for="Title" class="form-control" />
        <br />
        <label>Küçük Kapak Fotoğrafı</label>
        <input type="text" asp-for="CoverImageUrl" class="form-control" />
        <br />
        <label>Ana Kapak Fotağrafı</label>
        <input type="text" asp-for="MainImageUrl" class="form-control" />
        <br />
        <label>Kategori</label>
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.v1, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Makale Ekle</button>
    </form>
</div>