@model List<SocialMedia>

<div class="mb-4">
    <h5 class="border-bottom pb-2">Sosyal Medya</h5>
    <ul class="list-group">
        @foreach(var item in Model)
        {
        <li class="list-group-item"><a href="@item.LinkUrl"><img src="@item.IconUrl" width="15px" height="15px" /> @item.Title</a></li>
        }
       
    </ul>
</div>