@model RegisterViewModel

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <form method="post">
        <label>Adınız</label>
        <input type="text" class="form-control" asp-for="Name"/>
        <br />
        <label>Soyadınız</label>
        <input type="text" class="form-control" asp-for="Surname" />
        <br />
        <label>Email Adresiniz</label>
        <input type="text" class="form-control" asp-for="Email" />
        <br />
        <label>Kullanıcı Adınız</label>
        <input type="text" class="form-control" asp-for="Username" />
        <br />
        <label>Şifreniz</label>
        <input type="text" class="form-control" asp-for="Password" />
        <br />
        <button class="btn btn-primary">Kullanıcı Kaydet</button>

        <div class="text-danger" asp-validation-summary="ModelOnly"> 

        </div>
        
    </form>
</div>